<% include_stylesheet 'admin/audio_player/audio' %>
<% include_javascript 'audio_player/audio-player' %>

<% include_javascript 'admin/audio_player/jquery' %>
<% include_javascript 'admin/audio_player/farbtastic' %>
<% include_stylesheet 'admin/audio_player/farbtastic' %>


<script type="text/javascript" charset="utf-8">
  // $(document).ready(function() {
  //   $('#colorpicker').farbtastic('#color');
  // });
  $(document).ready(function() {
    $('#demo').hide();
    var f = $.farbtastic('#picker');
    var p = $('#picker').css('opacity', 0.25);
    var selected;
    $('.colorwell')
      .each(function () { f.linkTo(this); $(this).css('opacity', 0.75); })
      .focus(function() {
        if (selected) {
          $(selected).css('opacity', 0.75).removeClass('colorwell-selected');
        }
        f.linkTo(this);
        p.css('opacity', 1);
        $(selected = this).css('opacity', 1).addClass('colorwell-selected');
      });
  });
</script>


<% if @audio_player_config.new_record? %>
  <h1>New audio player</h1>
<% else %>
  <h1>Edit: <%= @audio_player_config.name %></h1>
<% end %>

<% form_for :audio_player_config do |f| %>
  <div class="form-area">
    <div id="audio_player_config_form_area">
      
      <div id="picker"></div>
      <ul id="colour_fields">
        <li>
          <label for="audio_player_config_leftbg">Left background</label>
          <%= f.text_field "leftbg_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_rightbg">Right background</label>
          <%= f.text_field "rightbg_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_rightbghover">Right background hover</label>
          <%= f.text_field "rightbghover_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>

        <li>
          <label for="audio_player_config_lefticon">Left icon</label>
          <%= f.text_field "lefticon_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_righticon">Right icon</label>
          <%= f.text_field "righticon_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_righticonhover">Right icon hover</label>
          <%= f.text_field "righticonhover_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>

        <li>
          <label for="audio_player_config_bg_hex">Background</label>
          <%= f.text_field "bg_hex", :id => "color", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_border">Border</label>
          <%= f.text_field "border_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_text">Text</label>
          <%= f.text_field "text_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>

        <li>
          <label for="audio_player_config_slider">Slider</label>
          <%= f.text_field "slider_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_track">Track</label>
          <%= f.text_field "track_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
        <li>
          <label for="audio_player_config_loader">Loader</label>
          <%= f.text_field "loader_hex", :class => 'textbox colorwell', :maxlength => 10 %>
        </li>
      </ul>
      <p>
        Loop:
        <%= f.radio_button "loop", false %>
        <label for="audio_player_config_loop_no">no</label>
        <%= f.radio_button "loop", true %>
        <label for="audio_player_config_loop_yes">yes</label>
      </p>
      <p>
        Autostart:
        <%= f.radio_button "autostart", false %>
        <label for="audio_player_config_autostart_no">no</label>
        <%= f.radio_button "autostart", true %>
        <label for="audio_player_config_autostart_yes">yes</label>
      </p>
    </div>
  </div>
  
  <p class="buttons">
    <%= save_model_button(@audio_player_config) %>
    <%= save_model_and_continue_editing_button(@audio_player_config) %>
    or 
    <%= link_to "Cancel", {:action => :index} %>
  </p>
<% end -%>