<% include_stylesheet 'admin/audio_player/audio' %>
<% include_javascript 'dragdrop.js' %>

<h1 id="reorder_pages">Reorder Audio tracks</h1>

<p>Drag and drop tracks to reorder. Click <strong>Finished</strong> when you are done.</p> 

<ul id="audio_tracks" class="pages">
  <% for child in @audio -%>
    <li id="item_<%= child.id %>" class="audio_track">
      <%= image('audio_player/audio') %>
      <%= child.title %>
    </li>
  <% end -%>
</ul>

<script type="text/javascript">
//<![CDATA[
  Sortable.create("audio_tracks", 
    { onUpdate:function() { 
      $('sort_order').value = Sortable.sequence('audio_tracks').join(',') 
    }
  });
//]]>
</script>

<% form_tag audio_update_order_path do %>

  <div><%= hidden_field_tag "sort_order" %></div>
  
  <p class="buttons">
    <%= submit_tag "Finished", :class => 'button' %> 
    or 
    <%= link_to 'Cancel', audio_index_path %>
  </p>

<% end %>